## Code 3.3 Loops

#### Sum Odd

In [1]:
mystery_int = 50

#Add some code below that will find and print the sum of
#every odd number between 0 and mystery_int. This time,
#exclude the bounds (e.g. if mystery_int was 51, add the odds
#from 1 to 49, but not 51).

sum = 0
for i in range(0, mystery_int):
    if i % 2 == 1:
        sum += i
print(sum)

625

#### Sum Loop

In [2]:
mystery_int = 7

#Use a loop to find the sum of all numbers between 0 and
#mystery_int, including bounds (meaning that if
#mystery_int = 7, you add 0 + 1 + 2 + 3 + 4 + 5 + 6 + 7).
#
#However, there's a twist: mystery_int might be negative.
#So, if mystery_int was -4, you would -4 + -3 + -2 + -1 + 0.

sum = 0
if mystery_int > 1:
    for i in range(0, mystery_int+1):
        sum += i
else:
    for i in range(mystery_int,0):
        sum += i
print(sum)

28

#### Counting Letters

In [3]:
mystery_string = "Hello! What a fine day it is today."
mystery_character = "a"

#-----------------------------------------------------------
#Write some code below that will count and print how many
#times mystery_character appears in mystery_string. You may
#not use the string class's .count method.
#
#With the original values for mystery_string and
#mystery_character, your code should initially print 4. Only
#count characters with the same case as mystery_character
#(in other words, here you would ignore capital A).

count = 0
for a in mystery_string:
    if a == mystery_character:
        count += 1
print(count)

4

#### Lists of Strings

In [5]:
mystery_list = ["Taylor Swift", "Twenty Two", "Georgia Tech"]

#Above is a list of strings. 
#Write some code that will count the number of instances of
#the letter 't' in the list of strings. Count both capital
#'T' and lower-case 't'. Then, print the number of instances
#of the letter 't'.
#
#For example, with the list declared above, you would print
#6: two in the first string, three in the second, one in the
#third.

count = 0
for string in mystery_list:
    #Add your code to read through the string and count the t's and T's here!
    for t in string:
        if t == "t" or t == "T":
            count += 1
print(count)

6

#### While Count down

In [6]:
mystery_int = 46

#Use a while loop to create a countdown from mystery_int to
#0. Count down by 3s: if mystery_int is 46, then you should
#print 46, 43, 40, etc. Do not print any number lower than 0.
#Note that you should print both the original value of
#mystery_int and 0 if you land on it exactly.

while mystery_int >= 0:
    print(mystery_int)
    mystery_int -= 3

46
43
40
37
34
31
28
25
22
19
16
13
10
7
4
1

#### Print the Alphabet

In [7]:
start_character = "A"
end_character = "Z"

#Print all the letters from start_character to end_character,
#each on their own line. Include start_character and
#end_character themselves.
#
#Remember, you can convert a letter to its underlying ASCII
#number using the ord() function. ord("A") would give 65.
#ord("Z") would give 90. You can use these values to write
#your loop.
#
#You can also convert an integer into its corresponding ASCII
#character using the chr() function. chr(65) would give "A".
#chr(90) would give "Z". So, for this problem, you'll need
#to convert back and forth between ordinal values and
#characters based on whether you're trying to loop over
#numbers or print letters.

for i in range(ord(start_character),ord(end_character)+1):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z